.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tabport) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4.5rem !important;

  @include respond(tabport) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-top {
  margin-top: 8rem !important;
}

.u-margin-bottom-huge {
  margin-top: 10rem !important;
}
